<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add Pet</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" th:href="@{/css/util.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/reset.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/responsive.css}">
    <script type="text/javascript" th:src="@{/js/main.js}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <script>
        function updateSize() {
            var nBytes = 0,
                oFiles = document.getElementById("uploadingFiles").files,
                nFiles = oFiles.length;
            for (var nFileId = 0; nFileId < nFiles; nFileId++) {
                nBytes += oFiles[nFileId].size;
            }

            var sOutput = nBytes + " bytes";
            // optional code for multiples approximation
            for (var aMultiples = ["KiB", "MiB", "GiB", "TiB", "PiB", "EiB", "ZiB", "YiB"], nMultiple = 0, nApprox = nBytes / 1024; nApprox > 1; nApprox /= 1024, nMultiple++) {
                sOutput = nApprox.toFixed(3) + " " + aMultiples[nMultiple] + " (" + nBytes + " bytes)";
            }
            // end of optional code

            document.getElementById("fileNum").innerHTML = nFiles;
            document.getElementById("fileSize").innerHTML = sOutput;
        }
    </script>
</head>
<body>

<header>
    <div class="wrapper">
        <a href="#"><img src="img/logo.png" class="logo" alt="" titl=""/></a>
        <nav>
            <ul>
                <li><a th:href="@{/organisations}" th:text="#{header.organisations}"></a></li>
                <li><a th:href="@{/animals}" th:text="#{header.animals}"></a></li>
                <li><a href="#" th:text="#{header.information}"></a></li>
            </ul>
            <a onclick="changeLanguage()" href="" class="login_btn" id="lang" th:text="#{header.lang}"></a>
            <div style="float: right" th:if="${#authorization.expression('isAuthenticated()')}">
                <a th:href="@{/profile}" class="login_btn" th:text="#{header.profile}"></a>
            </div>
            <div style="float: right" th:if="!${#authorization.expression('isAuthenticated()')}">
                <a th:href="@{/registration}" class="login_btn" th:text="#{header.signUp}"></a>
                <a th:href="@{/signIn}" class="login_btn" th:text="#{header.login}"></a>
            </div>

        </nav>
    </div>
</header>

<div class="container-login100" th:style="'background-image: url(/images/dog1.jpg);'">
    <div class="wrap-login100 p-l-55 p-r-55 p-t-80 p-b-30">
        <span class="login100-form-title p-b-37">
					Новый зверь
				</span>

        <form th:action="@{/animals/add}" method="post" enctype="multipart/form-data" charset="UTF-8">
            <div class="wrap-input100 validate-input m-b-20">
                <input class="input100" type="text" name="name" id="name" placeholder="Кличка">
                <span class="focus-input100"></span>
            </div>

            <div class="wrap-input100 validate-input m-b-25">
                <textarea class="input100" type="text" name="descr" id="descr" placeholder="Описание"></textarea>
                <span class="focus-input100"></span>
            </div>

            <div class="wrap-input100 validate-input m-b-25">
                <select name="status" class="input100" id="status" style="border: none">
                    <option selected="selected" hidden="">Статус</option>
                    <option>Ищет дом</option>
                    <option>На передержке</option>
                    <option>Все плохо</option>
                </select>
            </div>

            <div class="wrap-input100 validate-input m-b-25">
                <label for="uploadingFiles">Files: </label>
                <input type="file" id="uploadingFiles" name="uploadingFiles" onchange="updateSize();" multiple
                       required class="form-control-file"/>
                selected files: <span id="fileNum">0</span>;
                total size: <span id="fileSize">0</span>
            </div>

            <input type="hidden" name="orgId" id="orgId" th:value="${orgId}">
            <input hidden="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">

            <div class="container-login100-form-btn">
                <input type="submit" class="login100-form-btn" placeholder="send">
            </div>

        </form>

        <div class="text-center">
            <a href="#" class="txt2 hov1">
                Назад
            </a>
        </div>

    </div>
</div>

<div id="dropDownSelect1"></div>

</body>
</html>