<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Animals</title>
    <meta charset="utf-8">
    <meta name="author" content="pixelhint.com">
    <meta name="description" content="La casa free real state fully responsive html5/css3 home page website template"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0"/>

    <link rel="stylesheet" type="text/css" th:href="@{/css/reset.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/responsive.css}">

    <script type="text/javascript" th:src="@{/js/jquery.js}"></script>
    <script type="text/javascript" th:src="@{/js/main.js}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script></head>
<body>
<header>
    <div class="wrapper">
        <a href="#"><img src="img/logo.png" class="logo" alt="" titl=""/></a>
        <nav>
            <ul>
                <li><a th:href="@{/organisations}" th:text="#{header.organisations}"></a></li>
                <li><a th:href="@{/animals}" th:text="#{header.animals}"></a></li>
                <li><a href="#" th:text="#{header.information}"></a></li>
            </ul>
            <a onclick="changeLanguage()" href="" class="login_btn" id="lang" th:text="#{header.lang}"></a>
            <a th:href="@{/registration}" class="login_btn" th:text="#{header.signUp}"></a>
            <a th:href="@{/signIn}" class="login_btn" th:text="#{header.login}"></a>
        </nav>
    </div>
</header>

<section class="listings">
    <div class="wrapper">
        <ul class="properties_list" >
            <li th:each="animal : ${animals}">
                <a href="#">
                    <img  th:attr="src=@{/images/{name}(name=${animal.files.get(0).nameInStorage})}" alt="" title="" class="property_img"/>
                </a>
                <span class="price" th:text="${animal.status}"></span>
                <div class="property_details">
                    <h1>
                        <a href="#" th:text="${animal.name}"></a>
                    </h1>
                </div>
            </li>
        </ul>
        <div class="more_listing">
            <a href="#" class="more_listing_btn">View More Listings</a>
        </div>
    </div>
</section>    <!--  end listing section  -->

<footer style="padding-top: 1px">
    <div class="copyrights wrapper">
        Copyright © 2015 <a href="http://pixelhint.com" target="_blank" class="ph_link"
                            title="Download more free Templates">Pixelhint.com</a>. All Rights Reserved.
    </div>
</footer><!--  end footer  -->

</body>
</html>