<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>Dialog</title>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" th:href="@{/css/reset.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/responsive.css}">
    <script type="text/javascript" th:src="@{/js/main.js}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>
    <script>
        var webSocket;
        var dialogId = '[[${dialogId}]]';
        var login = '[[${login}]]';

        function connect() {
            // webSocket = new WebSocket('ws://localhost:8080/chat');
            // webSocket = new SockJS('http://localhost:8080/chat');
            webSocket = new SockJS('/chat');
            // document.cookie = 'X-Authorization=' + '123456' + ';path=/';

            webSocket.onmessage = function receiveMessage(response) {
                let data = response['data'];
                let json = JSON.parse(data);
                $('#messages').append("<li><b>" + json['login'] + '</b>: ' + json['text'] + "</li>")
            }
        }

        function sendMessage(text) {
            let message = {
                "dialogId": dialogId,
                "login": login,
                "text": text
            };

            webSocket.send(JSON.stringify(message));
        }
    </script>
</head>
<body onload="connect(); setTimeout(sendMessage, 2*1000, '' )">
<header>
    <div class="wrapper">
        <a href="#"><img src="img/logo.png" class="logo" alt="" titl=""/></a>
        <nav>
            <ul>
                <li><a th:href="@{/organisations}" th:text="#{header.organisations}"></a></li>
                <li><a th:href="@{/animals}" th:text="#{header.animals}"></a></li>
                <li><a href="#" th:text="#{header.information}"></a></li>
            </ul>
            <a onclick="changeLanguage()" href="" class="login_btn" id="lang" th:text="#{header.lang}"></a>
            <div style="float: right" th:if="${#authorization.expression('isAuthenticated()')}">
                <a th:href="@{/profile}" class="login_btn" th:text="#{header.profile}"></a>
            </div>
            <div style="float: right" th:if="!${#authorization.expression('isAuthenticated()')}">
                <a th:href="@{/registration}" class="login_btn" th:text="#{header.signUp}"></a>
                <a th:href="@{/signIn}" class="login_btn" th:text="#{header.login}"></a>
            </div>
        </nav>
    </div>
</header>
<h1>Dialog ID - [[${dialogId}]]</h1>

<div>
    <ul id="messages">
        <li th:each="m : ${ims}">
            <b>[[${m.login}]]</b>: [[${m.text}]]
        </li>
    </ul>
</div>
<div>
    <label for="message"></label>
    <input name="message" id="message" placeholder="Message">
    <button onclick="sendMessage($('#message').val())">Send</button>
</div>
<div>

</div>
</body>
</html>