<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, appUser-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" type="text/css" th:href="@{/css/reset.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/responsive.css}">
    <title>Dialogs</title>
</head>
<body>
<header>
    <div class="wrapper">
        <a href="#"><img src="img/logo.png" class="logo" alt="" titl=""/></a>
        <nav>
            <ul>
                <li><a th:href="@{/organisations}" th:text="#{header.organisations}"></a></li>
                <li><a th:href="@{/animals}" th:text="#{header.animals}"></a></li>
                <li><a href="#" th:text="#{header.information}"></a></li>
            </ul>
            <a th:href="@{/profile}" class="login_btn" th:text="#{header.profile}"></a>
            <!--            <a th:href="@{/signIn}" class="login_btn" th:text="#{header.login}"></a>-->
            <!--            <a th:href="@{/registration}" class="login_btn" th:text="#{header.signUp}"></a>-->
        </nav>
    </div>
</header>
<h1>dialogs</h1>
<ul th:each="d : ${dialogs}">
    <li>
        <a th:href="@{/messages/{id}(id=${d.id})}">[[${d.userFrom.login}]] - [[${d.userTo.login}]]</a> <br>
    </li>
</ul>
</body>
</html>